html[data-theme="coral-dark"] {
  --color-primary: #ff7e67; /* coral */
  --color-secondary: #ffcd56; /* yellow */
  --color-text: #f9f9f9; /* light gray */
  --color-background: #333333; /* dark gray */
  --color-success: #4caf50; /* green */
  --color-warning: #ff9800; /* orange */
  --color-error: #f44336; /* red */
  --color-neutral-100: #424242; /* gray */
  --color-neutral-200: #303030; /* gray */
  --color-neutral-300: #212121; /* gray */
  --color-neutral-400: #121212; /* gray */
  --color-neutral-500: #000000; /* black */
  --color-neutral-600: #000000; /* black */
  --color-neutral-700: #000000; /* black */
  --color-accent-1: #6366f1; /* indigo-500 */
  --color-accent-2: #8b5cf6; /* purple-500 */
}
