html[data-theme="vivid-dark"] {
  --color-primary: #ff3d00; /* vivid red */
  --color-secondary: #00e676; /* green */
  --color-text: #f5f5f5; /* light gray */
  --color-background: #121212; /* black */
  --color-success: #00c853; /* green */
  --color-warning: #ffc400; /* amber */
  --color-error: #ff1744; /* pink */
  --color-neutral-100: #424242; /* gray */
  --color-neutral-200: #303030; /* gray */
  --color-neutral-300: #212121; /* gray */
  --color-neutral-400: #121212; /* gray */
  --color-neutral-500: #000000; /* black */
  --color-neutral-600: #000000; /* black */
  --color-neutral-700: #000000; /* black */
  --color-accent-1: #9c27b0; /* purple */
  --color-accent-2: #ff4081; /* pink */
}
