html[data-theme="light"] {
  --color-primary: #3b82f6; /* blue-500 */
  --color-primary-text: #ffffff; /* White text for primary */
  --color-secondary: #10b981; /* green-500 */
  --color-secondary-text: #ffffff; /* White text for secondary */
  --color-background: #fffcfe; /* white */
  --color-background-text: #111827; /* Dark gray text for white background */
  --color-surface: #fffcfe; /* Light gray */
  --color-surface-text: #111827; /* Dark gray text for light gray surface */
  --color-success: #34d399; /* green-400 */
  --color-warning: #fbbf24; /* yellow-400 */
  --color-error: #ef4444; /* red-400 */
  --color-neutral-100: #f3f4f6; /* gray-100 */
  --color-neutral-200: #e5e7eb; /* gray-200 */
  --color-neutral-300: #d1d5db; /* gray-300 */
  --color-neutral-400: #9ca3af; /* gray-400 */
  --color-neutral-500: #6b7280; /* gray-500 */
  --color-neutral-600: #4b5563; /* gray-600 */
  --color-neutral-700: #374151; /* gray-700 */
  --color-accent-1: #6366f1; /* indigo-500 */
  --color-accent-2: #8b5cf6; /* purple-500 */
}
